.quote {
  font-size: 1.5rem;
  padding: 1em;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.error-image {
  width: 4em;
  height: 4em;
}
